* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text: #f5f5f5;
    --bg-color: #141414;

    --input-color: #ebdfdf;
    --input-bg: #1f1e1e;
    --input-border: #d6d4d4;

    --selection-bg: rgb(32, 35, 41);
    --selection-text: #ffa000;
}

@media (prefers-color-scheme: light) {
    /* somehow not working  */
    --text: #1f1e1e;
    --bg-color: #e9bcca;

    --input-color: #1b1919;
    --input-bg: #ececec;
    --input-border: #1f1e1e;

    --selection-bg: #2d56c7;
    --selection-text: #ffffff;
}

::-moz-selection {
    background-color: var(--selection-bg);
    color: var(--selection-text);
}

::selection {
    background-color: var(--selection-bg);
    color: var(--selection-text);
}

body {
    font-family: "JetBrains Mono", monospace;
    background: var(--bg-color);
}

@media (max-width: 1080px) {
    html {
        font-size: 90%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 82%;
    }
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    flex-direction: column;
    color: var(--text);
}

#search input {
    font-family: "JetBrains Mono", monospace;
    font-size: 2rem;

    border: none;
    background-color: var(--input-bg);
    color: var(--input-color);
}

#search input:focus {
    outline: 1px solid var(--input-border);
}

#search ul img {
    width: 30px;
}

#clock {
    font-size: 9rem;
    font-weight: 600;
    color: var(--text);
}
